<%= link_to("home", books_path, class: 'back-link') %>

<div class = "books delete">
<h2> delete books</h2>
<h2> big move</h2>

<%= form_for(@book, method: 'delete') do |b| %>
    <p> are you sure</p>
    <div class = "form-buttons">
    <%= b.submit("Delete book") %>
    </div>

    <% end %>
</div>